numpy
opencv-python
dlib
scipy
pydantic
langchain-openai
langchain-core
langchain
langchain-community
speechrecognition
pygame
pyaudio
python-dotenv
requests
duckduckgo_search
wikipedia
flask
flask_socketio